package {{invokerPackage}}.common.authentication;

import com.netflix.config.DynamicPropertyFactory;
import com.netflix.config.DynamicStringProperty;

public class BasicAuthCredentials {
    private final DynamicStringProperty username;
    private final DynamicStringProperty password;

    public BasicAuthCredentials(DynamicStringProperty username, DynamicStringProperty password) {
        this.username = username;
        this.password = password;
    }

    /**
     * For applications which don't dynamically respond to config changes.
     */
    public BasicAuthCredentials(String username, String password){
        this.username = DynamicPropertyFactory.getInstance().getStringProperty("__BasicAuthCredentials.username", username);
        this.password = DynamicPropertyFactory.getInstance().getStringProperty("__BasicAuthCredentials.password", password);
    }

    public String getUsername() {
        return username.getValue();
    }

    public String getPassword() {
        return password.getValue();
    }
}
